.slick {
  &-list {
    margin: 0;
    width: 100%;
  }

  &-next {
    right: 0;
  }

  &-next, &-prev {
    border-radius: 20px;
    height: 60px;
    width: 60px;
    &:before {
      background: #ffffff;
      color: #00535e;
      font-size: 4.5rem;
    }
  }

  &-prev {
    left: 0;
  }

  &-slide {
    display: inline-block;
  }
}
